@import "tailwindcss";

@theme {
  --font-primary: "Sofia Sans", "sans-serif";
  --font-secondary: "Mate SC", "serif";

  --text-display: 48px;
  --text-display-lg: 60px;

  --text-heading-1: 36px;
  --text-heading-2: 30px;
  --text-heading-3: 24px;
  --text-heading-4: 20px;
  --text-heading-5: 18px;
  --text-heading-6: 16px;
  --text-heading-7: 14px;

  --text-body: 16px;
  --text-body-lg: 18px;
  --text-label: 16px;
  --text-caption: 14px;
  --text-extra-sm: 12px;

  --color-body-default: #303030;

  --color-primary: #0b706a;
  --color-primary-hover: #095a57;
  --color-primary-active: #074944;
  --color-primary-light: #e3f4f3;

  --color-secondary: #ffd601;
  --color-secondary-hover: #e6c200;
  --color-secondary-active: #ccad00;

  --color-tertiary: #5b4b3a;
  --color-brand-white: #ffffff;
  --color-brand-black: #000000;

  --color-error: #b42318;
  --color-error-light: #fee4e2;

  --color-warning: #b54708;
  --color-warning-light: #fef0c7;

  --color-success: #027a48;
  --color-success-light: #d1fadf;

  --color-info: #175cd3;
  --color-info-light: #e0f2fe;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

/* body,
html {
  width: 100%;
} */

body {
  font-family: var(--font-primary);
}

#root {
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}

.heading {
  @apply font-secondary text-tertiary text-xl;
}

.footer-link {
  @apply text-primary hover:text-primary-hover transition-all duration-300 ease-in-out hover:scale-105;
}

.dropdown-list {
  @apply text-body-default bg-primary-light p-2;
}

.custom-margin-auto {
  margin: auto;
}
.custom-margin-top-auto {
  margin-top: auto;
}
.contact-form {
  margin: auto;
}

/* Cart Table */
thead tr th {
  text-align: center;
  font-weight: bold;
  font-size: var(--text-heading-4);
  padding-block: 0.8rem;
}

thead tr > :nth-child(2) {
  text-align: start;
}

tbody tr > :nth-child(2) {
  text-align: start;
}

tbody > *:not(:last-child) {
  border-bottom: 2px solid #e1e1e1;
}

td {
  padding-block: 1rem;
  text-align: center;
}

tfoot td {
  padding: 0.4rem 2rem;
}
