@import "tailwindcss";

@theme {
  --font-primary: "Sofia Sans", "sans-serif";
  --font-secondary: "Oswald", "sans-serif";
  --font-tertiary: "Lora", "serif";

  --text-display: 48px;
  --text-display-lg: 60px;

  --text-heading-1: 36px;
  --text-heading-2: 30px;
  --text-heading-3: 24px;
  --text-heading-4: 20px;
  --text-heading-5: 18px;
  --text-heading-6: 16px;
  --text-heading-7: 14px;

  --text-body: 16px;
  --text-body-lg: 18px;
  --text-label: 16px;
  --text-caption: 14px;
  --text-extra-sm: 12px;

  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 16px;

  --color-body-default: #303030;

  --color-primary: #592207;
  --color-primary-hover: #095a57;
  --color-primary-active: #074944;
  --color-primary-light: #ffecc4;

  --color-secondary: #f9d29b;
  --color-secondary-hover: #e6c200;
  --color-secondary-active: #ccad00;

  --color-tertiary: #dfb270;
  --color-brand-white: #ffffff;
  --color-brand-black: #000000;
  --color-fav-red: #eb1d1d;

  --color-outline: #cad5e2;

  --color-error: #b42318;
  --color-error-light: #fee4e2;

  --color-warning: #b54708;
  --color-warning-light: #fef0c7;

  --color-success: #027a48;
  --color-success-light: #d1fadf;

  --color-info: #175cd3;
  --color-info-light: #e0f2fe;

  --color-pending: #f59e0b;
  --color-pending-light: #fef3c7;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-primary);
}

#root {
  min-height: 100vh;
  width: 100%;
}

.heading {
  @apply font-secondary text-tertiary text-xl;
}

.footer-link {
  @apply text-primary hover:text-primary-hover transition-all duration-300 ease-in-out hover:scale-105;
}

.dropdown-list {
  @apply text-body-default bg-primary-light p-2;
}

.custom-margin-auto {
  margin: auto;
}
.custom-margin-top-auto {
  margin-top: auto;
}
.contact-form {
  margin: auto;
}

/* Cart Table */

thead tr th {
  text-align: center;
  font-weight: semibold;
  font-size: var(--text-heading-5);
  padding-block: 0.6rem;
}
thead {
  border-radius: 2rem;
}
thead tr > :nth-child(2) {
  text-align: start;
}

tbody tr > :nth-child(2) {
  text-align: start;
}

tbody > *:not(:last-child) {
  border-bottom: 1.4px solid #e1e1e1;
}

td {
  padding-block: 0.8rem;
  text-align: center;
}

tfoot td {
  padding: 0.4rem 2rem;
}
